.but-style{
    width: 50%;
    
}
.image-size{
    width: 100%;
    }
.bord{
        border-radius: 60px;
        padding-right: 30%;
    }
    
.icone2-position{
        position:absolute;
        margin-top: 30px;
        padding-right: 2000px;
        }
        .taille-button{
            width: 80%;
        }